<div class="content" role="main">
  <h1>Horario de Cursos</h1>
  <form (submit)="addCourse()">
      <label for="courseName">Nombre del Curso:</label>
      <select id="courseName" name="courseName" required [(ngModel)]="courseName">
        <option value="" disabled selected>Seleccione un curso</option>
        <option *ngFor="let course of courses" [value]="course">{{course}}</option>
    </select>
      <br><br>
      <label>Días:</label>
      <input type="checkbox" id="lunes" name="dias" value="lunes" [(ngModel)]="days.lunes"> Lunes
      <input type="checkbox" id="martes" name="dias" value="martes" [(ngModel)]="days.martes"> Martes
      <input type="checkbox" id="miercoles" name="dias" value="miercoles" [(ngModel)]="days.miercoles"> Miércoles
      <input type="checkbox" id="jueves" name="dias" value="jueves" [(ngModel)]="days.jueves"> Jueves
      <input type="checkbox" id="viernes" name="dias" value="viernes" [(ngModel)]="days.viernes"> Viernes
      <input type="checkbox" id="sabado" name="dias" value="sabado" [(ngModel)]="days.sabado"> Sábado
      <input type="checkbox" id="domingo" name="dias" value="domingo" [(ngModel)]="days.domingo"> Domingo
      <br><br>
      <label for="startTime">Hora de Inicio:</label>
      <select id="startTime" name="startTime" required [(ngModel)]="startTime">
          <option *ngFor="let hour of hours" [value]="hour">{{hour}}:00</option>
      </select>
      <br><br>
      <label for="endTime">Hora de Fin:</label>
      <select id="endTime" name="endTime" required [(ngModel)]="endTime">
          <option *ngFor="let hour of hours" [value]="hour">{{hour}}:00</option>
      </select>
      <br><br>
      <button type="submit">Agregar Curso</button>
  </form>
  <br><br>
  <table>
      <thead>
          <tr>
              <th>Hora</th>
              <th>Lunes</th>
              <th>Martes</th>
              <th>Miércoles</th>
              <th>Jueves</th>
              <th>Viernes</th>
              <th>Sábado</th>
              <th>Domingo</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let hour of hours">
              <td>{{hour}}:00 - {{hour + 1}}:00</td>
              <td *ngFor="let day of week" [id]="hour + '-' + day" class="{{getClass(hour, day)}}">{{getCourse(hour, day)}}</td>
          </tr>
      </tbody>
  </table>
</div>

<router-outlet></router-outlet>

