table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.course {
    background-color: lightblue;
}

.color-hab-logico-matematico {
    background-color: #9400D3;color: white;
  }
  .color-hab-verbal {
    background-color: #02611B;color: white;
  }
  .color-raz-matematico {
    background-color: #9400D3;color: white;
  }
  .color-raz-verbal {
    background-color: #02611B;color: white;
  }
  .color-anatomia {
    background-color: #7b268c;color: white;
  }
  .color-biologia {
    background-color: #007E8B;color: white;
  }
  .color-ciencias {
    background-color: #2000FF;color: white;
  }
  .color-fisica {
    background-color: #555555;color: white;
  }
  .color-quimica {
    background-color: #E40078;color: white;
  }
  .color-civica {
    background-color: #001A57;color: white;
  }
  .color-economia {
    background-color: #3EAEB1;color: white;
  }
  .color-filosofia {
    background-color: #9DFFD0;color: white;
  }
  .color-geografia {
    background-color: #51D1F6;color: white;
  }
  .color-historia {
    background-color: #FF7E00;color: white;
  }
  .color-historia-del-peru {
    background-color: #5d2687;color: white;
  }
  .color-historia-universal {
    background-color: #3841f2;color: white;
  }
  .color-humanidades {
    background-color: #00FF00;color: white;
  }
  .color-lectura-comprensiva-e-interpretativa {
    background-color: #7E9F2E;color: white;
  }
  .color-lectura-critica {
    background-color: #FF7E00;color: white;
  }
  .color-lenguaje {
    background-color: #520E45;color: white;
  }
  .color-literatura {
    background-color: #7E9F2E;color: white;
  }
  .color-ortografia-y-puntuacion {
    background-color: #FF00FF;color: white;
  }
  .color-psicologia {
    background-color: #FFBA00;color: white;
  }
  .color-vocabulario {
    background-color: #520E45;color: white;
  }
  .color-aleman {
    background-color: #AD8303;color: white;
  }
  .color-frances {
    background-color: #034A8E;color: white;
  }
  .color-ingles {
    background-color: #FF00FF;color: white;
  }
  .color-algebra {
    background-color: #FF0000;color: white;
  }
  .color-aritmetica {
    background-color: #2000FF;color: white;
  }
  .color-estadistica {
    background-color: #2000FF;color: white;
  }
  .color-geometria {
    background-color: #00FF00;color: white;
  }
  .color-matematicas {
    background-color: #FF0000;color: white;
  }
  .color-numeros-y-operaciones {
    background-color: #FF0000;color: white;
  }
  .color-trigonometria {
    background-color: #6A0DAD;color: white;
  }
  .color-examen {
    background-color: #5B1405;color: white;
  }
  .color-simulacro {
    background-color: #1D521F;color: white;
  }
 